body {
  margin: 0;
  background: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-color {
 background-color:   #3b5998;
}
.white-text{
  color:white !important;
}

.no-text-decoration{
  text-decoration: none;
}
.login-bottom-text {
  font-size: 13px;
  line-height: 22px;
}

.register-main{
  padding-top: 50px;
}

.welcome-main{
  padding-top:100px;
}

.logo{
  padding: 4px 20px;
}

.profile-badge-image {
  width: 40px;
	height: 40px;
  margin-right:5px;
}

.profile-card-image{
  width: 70px;
	height: 70px;
  margin-right:5px;
}


.black-text{
  color:black;
}

.black-text:hover{
  text-decoration: none;
  color:black;
}

.search-filters{
  padding-top:55px;
}

.profile-body{
  padding-top:60px;
}

.accordian-active{
  color: #0c63e4;
  background-color: #e7f1ff !important;
  
}

.accordian-toggle{
  background-color: white;
}

.post-textarea{
  resize: none;
  border: none;
}

.post-textarea::placeholder{
	font-size: 25px;
}

.cover-image{
  min-height: 400px;
  max-height: 400px;
  object-fit:cover;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset;
}

.profile-image{
  width:152px;
  height:152px;
}
.parent{
  position: relative;
  top:0;
  left:0;
}

.image1{
  position: relative;
  top:0;
  left:0;
}

.image2{
  position: absolute;
  top:300px;
  left:300px;
}

.profile-name{
  font-size:30px;
  color:white;
  padding-left: 20px ;
}
